.block {
    display: block;
}

.main {
    padding-top: 1%;
}

.field button {
    margin-top: 23px;
}

.quantity::-webkit-inner-spin-button, .quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ui.segments{
    padding: 5px;
}